@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

.header{
	background-color: #f8f7f7;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #CFCECE;
}

.body{
	background-color: #EEEEEE;
	min-height: 100%;
	position:relative;
}

.container{
	height: 100%;
}
.footer {
	border-top-style: solid;
	border-top-width: thin;
	border-top-color: #CFCECE;
	background-color: #F8F7F7;
}

#form {
	padding-top: 12%;
	padding-bottom: 12%;
}

a:hover {
	text-decoration: none
}

a:active{
	text-decoration: underline;
}

.navbar-nav>li>a{
	font-size: 15px;
	padding: 25px;
	line-height: 1px;
}

.navbar-default .navbar-nav>li>a:active{
	text-decoration: underline;
}

.navbar{
	border: none;
	vertical-align: bottom;
	margin-bottom: 0;
	margin-left: 5%;
	min-height: 0;
}

.date{
	color: #727171;
}

.underline{
	text-decoration: underline;
}

.bottomborder{
	border-bottom: 1px solid;
	padding-bottom: 10px;
	border-bottom-color: #CFCECE;
}

.panel-default>.panel-heading {
	background-color: #EEEEEE;
	border: none;
}

.panel{
	background-color: #EEEEEE;
	border: none;
}

.list-group{
	max-height: 160px;
	overflow-y: scroll;
}

