{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block title %} Profile Page | {{ super.block }}{% endblock %}

{% block content %}
    <div class = "wrapper">
        <div class = "container">
            <div class = "row">
                <h1 align="center">{{ userprofile.name }}</h1>
                {% if allow %}
                    <a class="btn btn-color" href="{% url 'profiles:update' user.id %}">Edit Profile</a>
                {% endif %}
            </div>
            <br><br><br>
            <div class = "row">
                <div class = "col-md-4">
                    <img src = '{{ userprofile.image.url }}' class="center-block img-responsive" height = "250px" width="200px"/>
                </div>
                <div class="col-md-8">
                    {{ userprofile.bio }}
                </div>
            </div>
            <br><br><br>
            <div class="row">
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Location: {{ userprofile.city }}, {{ userprofile.country }}<br>
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Email ID:<a href="mailto:{{ temp.email }}">{{ temp.email }}</a><br>
                    <img src="{% static 'img/twitter-solid.png' %}" height="17px" width="17px"/>Twitter Handle: <a href="http://www.twitter.com/{{ userprofile.twitter }}">{{ userprofile.twitter }}</a><br>
                    <img src="{% static 'img/linkedin.png' %}" height="17px" width="17px"/>LinkedIn URL: <a href="{{ userprofile.linkedin }}">{{ userprofile.linkedin }}</a><br>
                    {% if userprofile.user.is_staff %}
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Mentees:
                    {% else %}
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Mentor Name:
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3>Reports</h3></div>
                        <div class="panel-body">
                            <form method="GET" action="">
                                <div class="input-group">
                                    <input type="text" name="q" class="search-query form-control" placeholder="Search" value="{{ request.GET.q }}"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="Submit" value="Search"><span class=" glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </form>
                            <div class="list-group">
                                {% if report_query %}
                                    {% if report_querylist %}
                                        {% for report in report_querylist %}
                                            <a href="{% url 'reports:reports' report.id %}" class="list-group-item">{{ report.report_title }} -<i class = "date"> {{ report.report_date }}</i></a>
                                        {% endfor %}
                                     {% else %}
                                        <p>No matches</p>
                                    {% endif %}
                                    </div>
                                {% else %}
                                        <div class="list-group">
                                            {% if latest_reports %}
                                                {% for report in latest_reports %}
                                                    <a href="{% url 'reports:reports' report.id %}" class="list-group-item">{{ report.report_title }} -<i class = "date"> {{ report.report_date }}</i></a>
                                                {% endfor %}
                                            {% else %}
                                                <p>No reports</p>
                                            {% endif %}
                                        </div>
                                </div>
                            {% endif %}
                            {% if allow %}
                                <a class="btn btn-color" href ="{% url 'reports:create' %}">Add a new report</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3>Events</h3></div>
                        <div class="panel-body">
                            <form method="GET" action="">
                        <div class="input-group">
                        <input type="text" name="q1" class="search-query form-control" placeholder="Search" value="{{ request.GET.q1 }}"/>
                        <span class="input-group-btn">
                        <button class="btn btn-danger" type="Submit" value="Search"><span class=" glyphicon glyphicon-search"></span></button>
                            </span>
                       </div>
                    </form>
                            <div class="list-group">
                            {% if events_query %}
                                    {% if events_querylist %}
                                        {% for event in events_querylist %}
                                            <a href="#" class="list-group-item">{{ event.name }} - {{ event.time }}<i class = "date"> {{ event.date }}</i></a>
                                        {% endfor %}
                                    {% else %}
                                        <p>No matches</p>
                                    {% endif %}
                                </div>
                            {% else %}
                                        <div class="list-group">
                                            {% if latest_events %}
                                                {% for event in latest_events %}
                                                    <a href="#" class="list-group-item">{{ event.name }} - {{ event.time }}<i class = "date"> {{ event.date }}</i></a>
                                                {% endfor %}
                                            {% else %}
                                                <p>No Events</p>
                                            {% endif %}
                                        </div>
                                </div>
                            {% endif %}
                            {% if allow %}
                                <a class="btn btn-color" href ="{% url 'events:create' %}">Add a new Event</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}