{% extends 'layout/base.html' %}

{% block title %} Update Profile | {{ block.super }}{% endblock %}
{% block content %}

<h1> Update Your Profile</h1>
<form action ="/profiles/send_update_profile/" method = "post" enctype="multipart/form-data">{% csrf_token %}
   <label>
       Name:
   </label></br>
    {{ form.name }}
    </br>
    <label>
        Bio:
    </label><br>
    {{ form.bio }}
    </br>
     </label>
    <label>Profile Photo:</label>
    <br>
    {{ form.image }}
    </br>
    <button type="submit">Submit</button>

</form>
{% endblock %}