{% extends 'layout/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="wrapper">
        <div class="container">
            <br>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
    <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="{% static 'img/photo_group.jpg' %}"  alt="Chania" width="460" height="345">
                    </div>
                    <div class="item">
                        <img src="{% static 'img/photo_group.jpg' %}"  alt="Chania" width="460" height="345">
                    </div>
                    <div class="item">
                        <img src="{% static 'img/photo_group.jpg' %}"  alt="Flower" width="460" height="345">
                    </div>
                    <div class="item">
                        <img src="{% static 'img/photo_group.jpg' %}"  alt="Flower" width="460" height="345">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h2 class="oswald ">About the ONOS Ambassadors Program</h2>
                <p align="justify">The ONOS Ambassadors Program is designed to empower anyone who is passionate and knowledgeable about ONOS, who wants to promote the ONOS project in their region and build a strong local community around it. The program provides a simple framework and a specific set of tools to help you organize and/or attend events, recruit and mentor new contributors and also better support your local community. When joining the program, an ONOS Ambassador agrees to take on some or all of the following responsibilities:</p><br/>
                <ul>
                    <li><b>represent</b> the ONOS team locally</li>
                    <li><b>promote</b> the ONOS project and our mission</li>
                    <li><b>inspire, recruit</b> and <b>support</b> new contributors</li>
                    <li><b>document</b> clearly all his/her activities</li>
                </ul>
                <br/>
                <h3 align="left">Open and community-driven</h3>
                <p align="justify">The Ambassadors program is open to anyone who is:</p><br/>
                <ul>
                    <li><b>passionate</b> about the ONOS project</li>
                    <li><b>knowledgeable</b> of the ONOS mission and computer networking in general</li>
                    <li><b>keen</b> to engage with and inspire new people to contribute ONOS</li>
                </ul>
                <p align="justify">Although anyone can apply to join the program, each application is carefully reviewed by the ONOS Ambassador Steering Team (The A-Team) and each applicant, if shortlisted, must pass a short interview before officially becoming an Ambassador</p>
                <br><br>
            </div>
        </div>
    </div>
{% endblock %}