{% extends 'layout/base.html' %}
{% block content %}
<div class="wrapper body-inverse"> <!-- wrapper -->
	  <div class="container">
	    <div class="row">
		  <!-- Contact Us form -->
		  <div class="col-sm-6 col-sm-offset-3">
		    <h2 class="text-center">Contact Us</h2>
			<p class="text-muted text-center">
			  Please fill out the form below to send us your comments.
			</p>
			<div class="form-white form-contact">
			  <form role="form" method="get" action="{% url 'contact_logic' %}">
			    <div class="form-group">
				  <div class="row">
				    <div class="col-sm-6">
				    <label for="name-1">First name</label>
                        {% if not user.is_authenticated %}
				    <input type="text" class="form-control" id="name-1" placeholder="Enter first name" name="first_name">
                        {% else %}
				    <input type="text" class="form-control" id="name-1" placeholder="Enter first name" value="{{ user.first_name }}" name="first_name">
                        {% endif %}
				    </div>
				    <div class="col-sm-6">
				    <label for="name-2" class="pull-right-xs">Last name</label>
                        {% if not user.is_authenticated %}
				    <input type="text" class="form-control" id="name-2" placeholder="Enter last name" name="last_name">
                        {% else %}
				    <input type="text" class="form-control" id="name-2" placeholder="Enter last name" value="{{ user.last_name }}" name="last_name">
                        {% endif %}
				    </div>
				  </div>
			    </div>
			    <div class="form-group">
				  <label for="email-contact">Email address <span class="text-danger">*</span></label>
                    {% if not user.is_authenticated %}
				  <input type="email" class="form-control" id="email-contact" placeholder="Enter email" name="email">
                    {% else %}
				  <input type="email" class="form-control" id="email-contact" placeholder="Enter email" name="email" value="{{ user.email }}">
                    {% endif %}
			    </div>
				<div class="form-group">
				  <label for="message">Message <span class="text-danger">*</span></label>
				  <textarea id="message" class="form-control" rows="3" placeholder="Enter your message here" name="message"></textarea>
				</div>
			    <div class="checkbox">
				  <label>
				    <input type="checkbox" name="cc_myself"> Send a copy to myself
				  </label>
			    </div>
			    <button type="submit" class="btn btn-block btn-color btn-xxl">Submit</button>
			  </form>
			  <hr>
			  <p class="text-muted">
			    All fields marked with an asterisk (<span class="text-danger">*</span>) are required.
			  </p>
                {% if user.is_authenticated %}
			  <div class="form-avatar contact-avatar">
				<img src="{{ userProfile.image.url }}" alt="...">
			  </div>
                {% else %}
                     <div class="form-avatar contact-avatar">
                    <span class="fa-stack fa-3x show animated flipInX">
				  <i class="fa fa-circle fa-stack-2x"></i>
				  <i class="fa fa-user fa-stack-1x"></i>
				</span>
                    </div>
                {% endif %}
			</div>
		  </div>
		</div>
	  </div>
	</div> <!-- / wrapper -->
{% endblock %}