{% extends 'layout/base.html' %}

{% block content %}
<div class="body wrapper">
    <div class="container">
        <h1 class="oswald text-center">Tools and Resources</h1>
        <br/><br/>
        <ul>
            <li><h3>Presentation slide decks and templates</h3></li>
            <p>Here's a collection (updated regularly) of <a href="https://docs.google.com/spreadsheets/d/1s6Tdx1t0nITnuqUO6OkPmKk1q8TddOAaczolkshN7ls/edit#gid=0">great slides decks and templates</a> you can use, re-use and hack at will for your event.</p>
            <br/><li><h3>Topics and ideas for talks</h3></li>
            <p>If you plan to give a talk or lead a workshop about ONOS or CORD, here's a <a href="https://wiki.onosproject.org/display/AM/Recommended+Topics">list of recommended topics and ideas.</a></p>
            <br/><li><h3>Print-collateral and Videos</h3></li>
            <p>In this section, you can find print-collateral and videos which you can easily <a href="http://onosproject.org/resources/">download for your event.</a></p>
            <br/><li><h3>Skills Development Webinars</h3></li>
            <p>Under construction....</p>
            <br/><li><h3>Tips for public speaking:</h3></li>
            <p>Here's <a href="http://www.idealist.org/blog/en/take-professional-development-into-your-own-hands-this-year/">a great roundup of free/cheap webinars aimed at communicators for nonprofits.</a></p>
            <br/><li><h3>Learning Resources</h3></li>
            <p>The Open Networking Foundation (ONF) has put together a useful <a href="https://www.opennetworking.org/sdn-resources/sdn-definition">page with great resources on SDN.</a> Very useful for polishing up your knowledge before conference attending/presenting!</p>
        </ul>
        <br/><br/>
    </div>
</div>

{% endblock %}
